*{
    color: red;
}

h3{
    color: white;
    background-color: black;
    text-align: center;
}

h2{
    color: white;
    background-color: #ff9800;
    text-align: right;
}

h6{
    color: deeppink;
    background-color: darkorange;
    text-align: right;
}

.textChange{
    color:aquamarine;
    font-size: 25px;
    text-align: justify;
}

.textBold{
    font-style: oblique;
    font-weight: bold;
}

#colorChange{
    color: coral;
    font-weight: 900;
    font-style: normal;
}

.text{
    font-size: 30px;
    font-weight: bold;
    list-style-type: disc;
}

.red{
    color: red;
}
.green{
    color:green;
}
.blue{
    color: blue;
}